a::before{
    height: 0;
}
.retrouver-section {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10rem 0rem;
    text-align: center;
}

.retrouver-section a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.retrouver-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.retrouver-cards {
    display: flex;
    justify-content: center;
    gap: 6rem;
    flex-wrap: wrap;
}

.retrouver-link {
    text-decoration: none;
}

.retrouver-card {
    border-radius: 1rem;
    padding: 2.5rem;
    width: 1000px;
    text-align: center;
    background: rgba(253, 245, 255, 0.705);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.234);
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.retrouver-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 30px rgba(149, 0, 255, 0.716);
}

.retrouver-card h2 {
    font-size: 1.2rem;
    margin-top: 1rem;
}

.retrouver-icon {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

@media (max-width: 600px) {
    .retrouver-card {
        width: 100%;
        max-width: 300px;
    }
}