a::before{
    height: 0;
}
.retrouver-section {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f9f9f9;
    padding: 10rem 0rem;
    text-align: center;
}

.retrouver-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #333;
}

.retrouver-cards {
    display: flex;
    justify-content: center;
    gap: 6rem;
    flex-wrap: wrap;
}

.retrouver-link {
    text-decoration: none;
}

.retrouver-card {
    background: white;
    border-radius: 1rem;
    padding: 2.5rem;
    width: 1000px;
    text-align: center;
    box-shadow: 0 26px 30px rgb(0 0 0 / 13%);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.retrouver-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 30px rgba(2, 66, 228, 0.411);
}

.retrouver-card h2 {
    font-size: 1.2rem;
    margin-top: 1rem;
    color: #222;
}

.retrouver-icon {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

@media (max-width: 600px) {
    .retrouver-card {
        width: 100%;
        max-width: 300px;
    }
}