* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    border-bottom: 2px solid black;
    color: white;
}

body a {
    text-decoration: none;
}

ul{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 1%;
}

#Titre{
    font-size: 65px;
    padding-top: 9%;
    text-align: center;
}
#Photo{
    background-image: url(rigolo.jpg);
    background-attachment: fixed;
    background-size: 60%;
    margin: 13%;
    padding: 15%;
    background-position: center;
    border-radius: 20px;
}


#accroche{
    display: flex ;
        flex-direction: column;
        align-items: center;
        padding: 3%;
}
#accroche h1{
    padding-bottom: 3%;
}
#accroche p{
    text-align: center;
    margin: 4%;
}
.titre{
    text-align: center;
    padding: 2%;
}


#activ{
    display: grid;
        grid-template-columns: 2fr 2fr ;
        justify-items: center;
        padding-top: 30px;
}


#activ img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}

#Softskill ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 2%;
}

#MesCompétences h2{
    font-size: 30px;
    margin: 40px;
}
#MesCompétences p{
    text-align: center;
    margin: 1%;
    padding: 3%;
}
#MesCompétences ul{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 3%;
}
#MesCompétences img{
    width: 25%;
    margin: 5%;
}

.card {
    background-color: rgba(228, 227, 227, 0.54);
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 18px;
    flex-direction: column;
}

.card:hover {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3); 
    transform: translateY(-7px); 
    transition: transform 0.4s ease, box-shadow 0.4s ease; 
}


a::before{
    height: 0;
}
