
a::before{
    height: 0;
}
h1, h3{
    text-align: center;
}
h1{
    padding: 5%;
}

.scroll-indicator {
    display: inline-block;
    position: relative;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    background-color: #ffffff;
    padding: 10px 14px;
    text-decoration: none;
    color: #000000;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    animation: bounce 3s infinite;
    transition: background-color 0.4s;
    border-radius: 40px;
}

.scroll-indicator:hover {
    background-color: #000000;
    color:white;
    border: 1px solid white;
}


.p3D {
    height: 550px;
    display: flex;
    justify-content: center;
    gap: 5px;
    background-color: rgb(0, 0, 0);
    padding: 2%;
}

.p3D img {
    width: 20%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid white;
    transition: all ease-in-out 1s;
}

.p3D img:hover {
    width: 40%;
}
.p3D a {
    text-align: center;
}

/*Calligraphie*/
.Calligraphie {
    height: 550px;
    display: flex;
    justify-content: center;
    gap: 15px;
    background-color: rgb(0, 0, 0);
    padding: 2%;
}

.Calligraphie img {
    width: 40%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    transition: all ease-in-out 1s;
}

.Calligraphie img:hover {
    width: 80%;
}
.Calligraphie a {
    text-align: center;
}
/*projet appliqués*/

.appliqués {
    height: 550px;
    display: flex;
    justify-content: center;
    gap: 15px;
    background-color: rgb(0, 0, 0);
    padding: 2%;
}

.appliqués img {
    width: 30%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    transition: all ease-in-out 1s;
}

.appliqués img:hover {
    width: 50%;
}

.appliqués a {
    text-align: center;
}

/*graphique*/

.graphique {
    height: 550px;
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: rgb(0, 0, 0);
    padding: 1%;
}

.graphique img {
    width: 10%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid white;
    transition: all ease-in-out 1s;
}

.graphique img:hover {
    width: 25%;
}

.graphique a {
    text-align: center;
}


/*Ui Ux*/

.Ux {
    height: 550px;
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: rgb(0, 0, 0);
    padding: 1%;
}

.Ux img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid white;
    transition: all ease-in-out 1s;
}

.Ux img:hover {
    width: 75%;
}

.Ux a {
    text-align: center;
}

footer{
    background-color: white;
    color: black;
}