#titreUx{
    padding-top: 7%;
    margin: 50px;
    text-align: center;
}

#VV{
    text-align: center;
    padding: 2%;
}
#VTT{
    display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 6px;
        margin: 2%;
}

#VTT img{
        width: 100%;
        height: 100%;
        object-fit: cover; 
        display: block;

}
#Pb{
    text-align: center;
    padding: 3%;
    margin: 6%;
}
#maquetteUi{
    grid-area: 2/-3/4/-1;
}
.descriptif{
    text-align: center;
    margin: 4%;
}
.descriptif h1{
    margin: 2%;
}